<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="treeview.css"/>
    <link rel="stylesheet" href="Dg.ProviderOrder.Mockumentation.BlazorFrontend.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="VerticalSliceNode.js"></script>
<script src="VerticalSlicesCanvasTypes.js"></script>
<script src="VerticalSlice.js"></script>
<script src="VerticalSlicesCanvas.js"></script>
<script src="treeview.js"></script>

</body>

</html>