@using System.Drawing.Drawing2D
@using System.Text.Json.Serialization
@using Dg.ProviderOrder.Mokumentation.ArchitectureBricks
@using IndeterminateCheckboxBlazor


<li class="treeview-node treeview-group-node">

    <IndeterminateCheckbox @bind-Value="Node.Selected" ChangeMode="ChangeMode.CheckedUnchecked"/>
    <span class="treeview-container treeview-container-expanded" onclick="@OnClickJs"><label class="treeview-node-label treeview-group-node-label">@Node.TreeViewNodeText</label></span>
    <ul class="treeview-nested treeview-active">

        @foreach (var child in Node.VerticalSliceLeafNodes.OrderBy(e => e.VerticalSlice.PrimaryPort.FullName.Value))
        {
            <li>
                <input type="checkbox" @bind="child.Selected"/><label class="treeview-node-label treeview-leaf-node-label">@child.TreeViewNodeText</label>
            </li>
        }
        @foreach (var child in Node.VerticalSliceGroupNodes.OrderBy(e => e.Name))
        {
            <TreeViewNode Node="@child"/>
        }
    </ul>
</li>


@code {
    [Parameter] [EditorRequired] public VerticalSliceGroupNode Node { get; set; } = default!;

    private string ClassAttribute => Node.IsRoot ? string.Empty : "class=\"nested\"";

    protected override void OnInitialized()
    {
        Node.SelectedChanged += () => this.StateHasChanged();
        base.OnInitialized();
    }


    private string OnClickJs => """this.parentElement.querySelector(".treeview-nested").classList.toggle("treeview-active");this.classList.toggle("treeview-container-expanded");""";
    private string OnLeafClickJs => """this.classList.toggle("treeview-check-box");""";

}

