ul, #treeview-myUL {
    list-style-type: none;
}

#treeview-myUL {
    margin: 0;
    padding: 0;
}

.treeview-container, .treeview-box {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.treeview-container::before {
    content: "+";
    color: black;
    display: inline-block;
    margin-right: 4px;
}

.treeview-container-expanded::before {
    content: "-";
    color: dodgerblue;
    display: inline-block;
    margin-right: 4px;
}

.treeview-box::before {
    content: "\2610";
    color: black;
    display: inline-block;
    margin-right: 4px;
}

.treeview-check-box::before {
    content: "\2611";
    color: dodgerblue;
}

.treeview-nested {
    display: none;
}

.treeview-active {
    display: block;
}

.treeview-node-label{
    font-size: 0.8rem;
}
.treeview-group-node-label {
    font-weight: 800;
}
.treeview-leaf-node-label{
    
}