@preservewhitespace true
@page "/"
@using System.Runtime.CompilerServices
@using System.Timers
@using System.Web
@using Blazorade.Mermaid.Components
@using Dg.ProviderOrder.Mokumentation
@using Dg.ProviderOrder.Mokumentation.ArchitectureBricks
@rendermode InteractiveServer

<PageTitle>Vertical slice visualizer</PageTitle>

@code{
    VerticalSlicesCanvas verticalSlicesCanvas;
    TreeViewNode treeViewNode;
}

<div class="flex-container root-container vertical-container">
    <div class="title-header">
        <h1>Vertical slice visualizer</h1>
    </div>
    <div class="flex-container horizontal-container canvas-and-tree-container">
        <div class="canvas-container">
            <VerticalSlicesCanvas @ref="verticalSlicesCanvas"></VerticalSlicesCanvas>
        </div>
        <div class="flex-container vertical-container">
            <div class="tree-view-container scrollable-container">
                <div class="title-header"><h2>Context Tree</h2></div>
                <ul>
                    <TreeViewNode @ref="treeViewNode" Node="@verticalSliceTreeRoot"/>
                </ul>
            </div>
        </div>

    </div>
    <div class="reset-bar">
        <button @onclick="OnResetClickAsync">Reset</button>
        <input id="renderDetailedVerticalSlicesCheckbox" type="checkbox" @onchange="OnRenderDetailedVerticalSlicesCheckboxChangedAsync" checked/>
        <label for="renderDetailedVerticalSlicesCheckbox">Render detailed vertical slices</label>
    </div>
    
</div>


@code {

    private readonly List<VerticalSlice> monolithVerticalSlices = new();
    private readonly List<VerticalSlice> moduleVerticalSlices = new();
    private VerticalSliceGroupNode? verticalSliceTreeRoot;
    private VerticalSlicesCanvas.RenderingOptions verticalSliceCanvasRenderingOptions = new();

    protected override async Task OnInitializedAsync()
    {
        monolithVerticalSlices.AddRange(LoadVerticalSlicesFromFile(@"C:\\Development\\Dg.ProviderOrder.Mokumentation\\Dg.ProviderOrder.Mokumentation\\monolith.verticalslices.json"));
        moduleVerticalSlices.AddRange(LoadVerticalSlicesFromFile(@"C:\\Development\\Dg.ProviderOrder.Mokumentation\\Dg.ProviderOrder.Mokumentation\\module.verticalslices.json"));

        var allVerticalSlices = moduleVerticalSlices.Union(monolithVerticalSlices).ToHashSet();

        foreach (var verticalSlice in allVerticalSlices)
        {
            foreach(var outgoingPayload in verticalSlice.OutgoingPayloads)
            {
                foreach(var calledVerticalSlice in allVerticalSlices.Except([verticalSlice]))
                {
                    if (!calledVerticalSlice.PrimaryAdapterByIncomingPayload.TryGetValue(outgoingPayload, out var primaryAdapter))
                    {
                        continue;
                    }

                    var call = new VerticalSliceCall(calledVerticalSlice, primaryAdapter, outgoingPayload);
                    verticalSlice.VerticalSliceCalls.Add(call);
                }
            }
        }

        verticalSliceTreeRoot = VerticalSliceGroupNode.BuildTree(allVerticalSlices);
        verticalSliceTreeRoot.SelectionChanged += async () => await RenderGraphAsync(reset:true);
        await base.OnInitializedAsync();
    }
    
    async Task OnResetClickAsync()
    {
        await RenderGraphAsync(reset: true);
    }

    private async Task OnRenderDetailedVerticalSlicesCheckboxChangedAsync(ChangeEventArgs e)
    {
        var newValue = e.Value as bool? ?? false;
        if(newValue != verticalSliceCanvasRenderingOptions.RenderDetailedVerticalSlices)
        {
            verticalSliceCanvasRenderingOptions.RenderDetailedVerticalSlices = newValue;
            await verticalSlicesCanvas.SetRenderingOptionsAsync(verticalSliceCanvasRenderingOptions);
            await RenderGraphAsync(reset: true);
        }
       
    }

    async Task RenderGraphAsync(bool reset = false)
    {
        await verticalSlicesCanvas.RenderAsync(GetSelectedVerticalSlices().ToList(), reset);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await RenderGraphAsync(firstRender);
        }
    }

    private IEnumerable<VerticalSlice> GetSelectedVerticalSlices() => verticalSliceTreeRoot.GetSelectedVerticalSlicesRecursive();

    private static IReadOnlyList<VerticalSlice> LoadVerticalSlicesFromFile(string path)
    {
        try
        {
            return System.Text.Json.JsonSerializer.Deserialize<List<VerticalSlice>>(System.IO.File.ReadAllText(path)) ?? [];
        }
        catch (Exception ex)
        {
            Console.WriteLine("Opps");
        }

        return [];
    }

}